{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <h3>Оценить опрос: "{{ poll.question }}"</h3>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.rating_value.label_tag }}
            {{ form.rating_value }}
        </div>
        <div class="mb-3">
            {{ form.comment.label_tag }}
            {{ form.comment }}
        </div>
        <button type="submit" class="btn btn-success">Оценить</button>
        <a href="{% url 'index' %}" class="btn btn-secondary">Назад</a>
    </form>
</div>
{% endblock %}
